<div><button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu" id="menu">
  <button mat-menu-item [routerLink]="['/home']"> Accueil</button>
  <button mat-menu-item [routerLink]="['/maps']">Maps</button>
  <button mat-menu-item [routerLink]="['/calcul']">Calcul</button>
  <button mat-menu-item>Formulaire</button>
</mat-menu></div>

<div class = box>
<div id="centerPage">
<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]=14>
  <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
  <agm-marker [latitude]="pharmacie_trifontaine_lattitude" [longitude]="pharmacie_trifontaine_longitude"></agm-marker>
  <agm-marker [latitude]="pharmacie_croix_rousse_lattitude" [longitude]="pharmacie_croix_rousse_longitude"></agm-marker>
  <agm-marker [latitude]="pharmacie_pierre_boissier_lattitude" [longitude]="pharmacie_pierre_boissier_longitude"></agm-marker>
  <agm-marker [latitude]="pharmacie_o_lattitude" [longitude]="pharmacie_o_longitude"></agm-marker>
  <agm-marker [latitude]="pharmacie_malbosc_lattitude" [longitude]="pharmacie_malbosc_longitude"></agm-marker>
  <agm-marker [latitude]="pharmacie_europe_lattitude" [longitude]="pharmacie_europe_longitude"></agm-marker>
</agm-map></div>
<br/>
<div id=card>
<mat-card  mat-raised-button (click)="openDialog()"> <mat-card-title>Pharmacie Trifontaine</mat-card-title>
  <mat-card-subtitle>19 Route de Ganges, 34980 Saint-Clément-de-Rivière</mat-card-subtitle>
</mat-card>
<br/>
<mat-card mat-raised-button (click)="openDialog()"><mat-card-title>Pharmacie croix rousse</mat-card-title>
  <mat-card-subtitle>1963 Route de Ganges, 34090 Montpellier</mat-card-subtitle>
</mat-card><br/>
<mat-card mat-raised-button (click)="openDialog()"><mat-card-title>Pharmacie Pierre Boissier</mat-card-title>
  <mat-card-subtitle>Rue Nicolas Appert, 34790 Grabels</mat-card-subtitle>
</mat-card><br/>
<mat-card mat-raised-button (click)="openDialog()"><mat-card-title>Pharmacie D'O</mat-card-title>
  <mat-card-subtitle>Résidence du Val Durand, 628 Rue de St - Priest, 34090 Montpellier</mat-card-subtitle>
</mat-card><br/>
<mat-card mat-raised-button (click)="openDialog()"><mat-card-title>Pharmacie de Malbosc</mat-card-title>
  <mat-card-subtitle>22 Rue François Henry d'Harcourt, 34000 Montpellier</mat-card-subtitle>
</mat-card><br/>
<mat-card mat-raised-button (click)="openDialog()"><mat-card-title>Pharmacie de L’Europe</mat-card-title>
  <mat-card-subtitle>2600 Avenue de l'Europe, 34080 Montpellier</mat-card-subtitle>
</mat-card>
</div>
</div>
