agm-map {
    height: 600px;
    width: 800px;
    flex : 1
  }

  body {
      align-content: center;
  }

  #card {
      width: 200px;
      flex : 2;
      margin-left: 20px;
      margin-right: 20px;
  }

  .box{
      display: flex;
      
  }