

<div style="display: flex; flex-direction: row; justify-content:  center;">

  <mat-card class="home-card">
      <mat-card-title class="home-card-title">
      </mat-card-title>
      <mat-card-content>
          <p >Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
          </p>

      </mat-card-content>
      <mat-card-actions class="home-card-title">
          <button [routerLink]="['/calcul']" mat-stroked-button color="primary" i18n="@@home.prodcenter.button">Calcul</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="home-card">
      <mat-card-title class="home-card-title">
      </mat-card-title>
      <mat-card-content>
          <p >Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
          </p>
      </mat-card-content>
      <mat-card-actions class="home-card-title">
          <button [routerLink]="['/maps']" mat-stroked-button color="primary" i18n="@@home.client.button">Maps</button>
      </mat-card-actions>
  </mat-card>

  <mat-card class="home-card">
      <mat-card-title class="home-card-title">
      </mat-card-title>
      <mat-card-content>
          <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.
          </p>
      </mat-card-content>
      <mat-card-actions class="home-card-title">
          <button [routerLink]="['/form']" mat-stroked-button color="primary" i18n="@@home.subcontractor.button">Formulaire</button>
      </mat-card-actions>
  </mat-card>
</div>