<H1>Menu Test back.php</H1>
<br>
<a href="back.php">Sans requette</a>
<br><br>
<a href="back.php?code=1">select * from Pharmacie</a>
<br><br>
<a href="back.php?code=2">select * from Produit</a>
<br><br>
<a href="back.php?code=3">select * from Salariees</a>
<br><br>
<a href="back.php?code=4">select * from FormationSalariees</a>
<br><br>
<a href="back.php?code=5">select * from PharmacieProduit</a>
<br><br>
<a href="back.php?code=6">select * from Formation</a>
<br><br><br>
<a href="back.php?code=7">select * from TableVide</a>
<br><br>
<a href="back.php?code=8">select * from TableTest</a>
<br><br>
<form method="get" action="back.php">
  <input type="hidden" name="json" value='{"IdTableTest":"1","0":"1","text":"Hello","1":"Hello"}' />
  <input type="hidden" name="code" value="51" />
  <input type="submit" value="update TableTest set text='Hello' where IdTableTest=1">
  </form>
<a href="back.php?code=51">update TableTest set text='Hello' where IdTableTest=1</a>
<br><br>
<form method="get" action="back.php">
  <input type="hidden" name="json" value='{"IdTableTest":"1","0":"1","text":"Bonjour","1":"Bonjour"}' />
  <input type="hidden" name="code" value="52" />
  <input type="submit" value="update TableTest set text='Bonjour' where IdTableTest=1">
  </form>
<a href="back.php?code=52">update TableTest set text='Bonjour' where IdTableTest=1</a>
<br><br>
<form method="get" action="back.php">
  <input type="hidden" name="json" value='{"IdPharmacie":"15","0":"15","Nom":"PharmieDuSoleil","1":"PharmieDuSoleil","Lieu":"Croix Verte","2":"Croix Verte","X":"17","3":"17","Y":"17","4":"17","NumTel":"0204060810","5":"0204060810"}' />
  <input type="hidden" name="code" value="53" />
  <input type="submit" value="update Pharmacie set Nom='PharmieDuSoleil',Lieu='Croix Verte',X='17',Y='17',NumTel='0204060810' where IdPharmacie=15">
  </form>
 <br>
<form method="get" action="back.php">
  <input type="hidden" name="json" value='{"IdPharmacie":"15","0":"15","Nom":"PharmieDuSoleil","1":"PharmieDuSoleil","Lieu":"Croix Verte","2":"Croix Verte","X":"15","3":"15","Y":"15","4":"15","NumTel":"0204060810","5":"0204060810"}' />
  <input type="hidden" name="code" value="54" />
  <input type="submit" value="update Pharmacie set Nom='PharmieDuSoleil',Lieu='Croix Verte',X='15',Y='15',NumTel='0204060810' where IdPharmacie=15">
  </form>
  <br><br>
<form method="get" action="back.php">
  <input type="hidden" name="json" value='{"IdPharmacie":"15","0":"15","IdProduit":"1","1":"1","Quantite":"25","2":"25"}' />
  <input type="hidden" name="code" value="55" />
  <input type="submit" value="update PharmacieProduit set Quantite='25' where IdPharmacie='15' AND IdProduit='1'">
  </form>
 <br>
<form method="get" action="back.php">
  <input type="hidden" name="json" value='{"IdPharmacie":"15","0":"15","IdProduit":"1","1":"1","Quantite":"10","2":"10"}' />
  <input type="hidden" name="code" value="56" />
  <input type="submit" value="update PharmacieProduit set Quantite='10' where IdPharmacie='15' AND IdProduit='1'">
  </form>