<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu" id="menu">
  <button mat-menu-item [routerLink]="['/home']">Accueil</button>
  <button mat-menu-item [routerLink]="['/maps']">Maps</button>
  <button mat-menu-item [routerLink]="['/calcul']">Calcul</button>
  <button mat-menu-item>Formulaire</button>
</mat-menu>

<br/>
<mat-form-field>
  <mat-select placeholder="Que voulez vous calculez?" [(ngModel)]="selectedValue">
    <mat-option *ngFor="let calcul of calculs" [value]="calcul.value">
      {{calcul.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="selectedValue == 'achat-0'"> 
  <mat-form-field>
    <input matInput id="netbrut" type="number" placeholder="Prix d'achat brut" #netbrut>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <input matInput id="netremise" type="number" placeholder="Taux de remise" #netremise>
  </mat-form-field><br/>
  <mat-button-toggle value="bold" type="submit" (click) = 'calculatenet(netbrut.value, netremise.value)'>Calculer!</mat-button-toggle>
  <br/><br/>
  <mat-form-field>
      <input matInput type="number" placeholder="Résultat" value="{{sumnet}}">
  </mat-form-field>

</div>

<div *ngIf="selectedValue == 'remise-1'"> 
    <mat-form-field>
      <input matInput type="number" placeholder="Prix d'achat brut" #remisebrut>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="number" placeholder="Prix d'achat net" #remisenet>
    </mat-form-field><br/>
    <mat-button-toggle value="bold" type="submit" (click) = 'calculateremise(remisenet.value, remisebrut.value)'>Calculer!</mat-button-toggle>
    <br/><br/>
    <mat-form-field>
        <input matInput type="number" placeholder="Résultat" value="{{sumremise}}">
    </mat-form-field>
    
</div>

<div *ngIf="selectedValue == 'vente-2'"> 
    <mat-form-field>
      <input matInput type="number" placeholder="Prix d'achat net" #ventenet>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="number" placeholder="Coefficient multiplicateur" #ventecoef>
    </mat-form-field><br/>
    <mat-button-toggle value="bold" type="submit" (click) = 'calculatevente(ventenet.value, ventecoef.value)'>Calculer!</mat-button-toggle>
    <br/><br/>
    <mat-form-field>
        <input matInput type="number" placeholder="Résultat" value="{{sumvente}}">
    </mat-form-field>
    
</div>

<div *ngIf="selectedValue == 'coef-2'"> 
    <mat-form-field>
      <input matInput type="number" placeholder="Prix de vente net" #coefvente>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="number" placeholder="Prix d'achat net" #coefachat>
    </mat-form-field><br/>
    <mat-button-toggle value="bold" type="submit" (click) = 'calculatecoef(coefvente.value, coefachat.value)'>Calculer!</mat-button-toggle>
    <br/><br/>
    <mat-form-field>
        <input matInput type="number" placeholder="Résultat" value="{{sumcoef}}">
    </mat-form-field>
    
</div>