<form class="container">
  <mat-form-field class="inputform" >
    <input matInput placeholder="Nom" value="Pharmacie Trifontaine" disabled>
  </mat-form-field>
  <br/>
  <mat-form-field class="inputform">
    <input matInput placeholder="Adresse" value="19 Route de Ganges, 34980 Saint-Clément-de-Rivière" disabled>
  </mat-form-field>
  <mat-form-field class="inputform">
    <input matInput placeholder="Numéro de téléphone"  value="06-66-66-66-66" disabled>
  </mat-form-field>
  <mat-form-field class="inputform">
    <input matInput placeholder="Qte Doliprane"  value="145">
  </mat-form-field>
  <button mat-raised-button color="warn" (click)="onNoClick()">Annuler</button>
    <div class="valide">
        <button mat-raised-button color="primary"  (click)="save()" >Valider</button>
    </div>



