<div id="div_form" class="example-container">
    <mat-form-field>
      <input id="input-field" matInput placeholder="Input">
    </mat-form-field>
  
    <mat-form-field>
      <textarea id="text-field" matInput placeholder="Textarea"></textarea>
    </mat-form-field>
  
    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option id="select-field" value="option">Option</mat-option>
      </mat-select>
    </mat-form-field>

    <td>
    <button id="send-form" [routerLink]="['/form']" mat-stroked-button color="primary" i18n="@@home.client.button">Envoyer</button>
    <button id="change-form" [routerLink]="['/form']" mat-stroked-button color="primary" i18n="@@home.client.button">Modifier le formulaire</button>
    </td>
  </div>